#row-content{
  padding-top: 5rem;
}
.row {
  max-width: 100%;
}
.tab-bar {
  visibility: visible;
  height: 5rem;
}
.tab-bar h1 {
  font-size: 5rem;
  line-height: 5rem;
}
.event-day {
  padding-top: 0px;
}
#sponsor-slideshow {
  height: 10rem;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  padding: 1rem;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  height: auto;
  width: auto;
  border: 0;
}
.display-three-background {
  background-color: #0a83bb;
  height: 100vh;
  display: table;
  width: 100%;
}
.display-three-large-text {
  font-size: 20rem;
  padding-bottom: 5rem;
  color: white !important;
}
.display-three-small-text {
  font-size: 7rem;
  color: white !important;
}
.display-three-align {
  display: table-cell;
  vertical-align: middle;
}
.no-padding {
  padding: 0 !important;
}
#display-three-body {
  overflow: hidden;
}
.branded-header {
  background-color: #0a83bb;
}
.title {
  color: white !important;
}
.bold-heading {
  font-weight: bold;
  font-size: 4em;
}
.erskine-screens .underline {
  border-bottom-width: 4px !important;
  margin: 0.5em 0;
}
.erskine-screens .event-day {
  font-size: 3.5em;
}
.erskine-screens .event-time {
  line-height: 1 !important;
  font-size: 2.6em;
  font-weight: bold;
}
.erskine-screens .event-title {
  line-height: 1.1 !important;
  font-size: 2.6em;
}
.erskine-screens .event-details {
  font-size: 2em;
}
.timeline-Widget {
  font-size: 5em !important;
}
