{% extends 'layout.html' %}

{% block title %}People - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
    <h2>People</h2>

    <p>The following people are involved in CS4HS at Christchurch. This list will be updated as speakers confirm sessions.</p>

    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
      <li>
        <img src="img/tim_bell_photo.jpg" class="th th-people">
        <h3>Tim Bell</h3>
        <h5>University of Canterbury</h5>
        <h5>Organiser &amp; Speaker</h5>
        <p><a href="mailto:tim.bell@canterbury.ac.nz">email</a></p>
      </li>
      <li>
        <img src="img/jack_morgan_photo.png" class="th th-people">
        <h3>Jack Morgan</h3>
        <h5>University of Canterbury</h5>
        <h5>Organiser &amp; Speaker</h5>
        <p><a href="mailto:jack.morgan@canterbury.ac.nz">email</a> -
        <a href="http://twitter.com/jackmorgannz">@jackmorgannz</a> -
        <a href="http://jackmorgannz.github.io/">website</a></p>
      </li>
      <li>
        <img src="img/caitlin_duncan_photo.jpg" class="th th-people">
        <h3>Caitlin Duncan</h3>
        <h5>University of Canterbury</h5>
        <h5>Workshop Leader &amp; Speaker</h5>
        <p><a href="mailto:caitlin.duncan@pg.canterbury.ac.nz">email</a> -
        <a href="http://twitter.com/cduncs42">@cduncs42</a></p>
      </li>
      <li>
        <img src="img/heidi_newton_photo.jpeg" class="th th-people">
        <h3>Heidi Newton</h3>
        <h5>Computer Science Coach</h5>
        <h5>Speaker &amp; Teacher Support</h5>
        <p><a href="mailto:heidi@computerscience.co.nz">email</a> -
        <a href="http://twitter.com/heidinewtonnz">@heidinewtonnz</a></p>
      </li>
      <li>
        <img src="img/gerard_macmanus_photo.png" class="th th-people">
        <h3>Gerard MacManus</h3>
        <h5>NZACDITT</h5>
        <h5>President</h5>
        <p><a href="mailto:gerard.macmanus@nzacditt.org.nz">email</a> -
        <a href="http://twitter.com/gmacmanus">@gmacmanus</a></p>
      </li>
      <li>
        <img src="img/tanya_gray_photo.jpeg" class="th th-people">
        <h3>Tanya Gray</h3>
        <h5>Gather Workshops</h5>
        <h5>Workshop Leader</h5>
        <p><a href="http://twitter.com/tanya">@tanya</a> -
        <a href="http://tanyagray.co.nz/">website</a></p>
      </li>
      <li>
        <img src="img/michael_walmsley_photo.jpg" class="th th-people">
        <h3>Michael Walmsley</h3>
        <h5>Code Avengers</h5>
        <h5>Workshop Leader</h5>
        <p><a href="mailto:mike@codeavengers.com">email</a></p>
      </li>
      <li>
        <img src="img/amitrajit_sarkar_photo.png" class="th th-people">
        <h3>Amitrajit Sarkar</h3>
        <h5>CPIT</h5>
        <h5>Workshop Leader</h5>
        <p><a href="mailto:amit.sarkar@cpit.ac.nz">email</a></p>
      </li>
    </ul>

</div>
{% endblock content %}
