{% extends 'layout.html' %}

{% block title %}People - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
    <h2>People</h2>

    <p>The following people are involved in CS4HS at Christchurch. This list will be updated as speakers confirm sessions.</p>

    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <li>
        <img src="img/tim_bell_photo.jpg" class="th ">
        <h3>Tim Bell</h3>
        <h5>Organiser &amp; Speaker</h5>
        <p><a href="mailto:tim.bell@canterbury.ac.nz">email</a></p>
      </li>
      <li>
        <img src="img/jack_morgan_photo.png" class="th">
        <h3>Jack Morgan</h3>
        <h5>Organiser &amp; Speaker</h5>
        <p><a href="mailto:jack.morgan@canterbury.ac.nz">email</a> -
        <a href="http://twitter.com/jackmorgannz">@jackmorgannz</a></p>
      </li>
    </ul>

</div>
{% endblock content %}
