{% extends 'layout.html' %}

{% block title %}Register - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Register</h2>


  <div class="row">
    <div class="small-12 medium-6 large-4 large-offset-2 columns">
      <ul class="pricing-table">
        <li class="title">Main Conference</li>
        <li class="price">Free</li>
        <li class="description">The main conference running from Wed - Fri focusing on the NCEA standards.</li>
        <li class="bullet-item">2nd Dec - 4th Dec</li>
        <li class="bullet-item">Full catering included</li>
        <li class="bullet-item">Accommodation included</li>
      </ul>
    </div>
    <div class="small-12 medium-6 large-4 columns end">
      <ul class="pricing-table">
        <li class="title">Programming Workshops</li>
        <li class="price">$200</li>
        <li class="description">Optional programming workshops on Mon - Tues before the main conference.</li>
        <li class="bullet-item">30th Nov - 1st Dec</li>
        <li class="bullet-item">Day catering included</li>
        <li class="bullet-item">Accommodation included</li>
      </ul>
    </div>
  </div>

</div>
{% endblock content %}
