{% extends 'layout.html' %}

{% block title %}Register - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Register</h2>

  <p>
    Registrations will be sent out to those on the waiting list in August 2015 (<a href="#waitlist">add your name to the waitlist here</a>). Funded places in this event are limited and are offered on a first-in first-served basis so please add yourself to the waitlist as early as possible. It's ok to fine-tune parts of registration later e.g. changing the exact number of nights you'll be staying, contact <a href="mailto:jack.morgan@canterbury.ac.nz">Jack Morgan</a> if you need to change your registration.
  </p>

  <div class="panel radius clearfix">
    <h4 class="right">FREE</h4>
    <h4>CS4HS Main Conference</h4>
    <h5>Wed 2nd Dec 9:00am – Fri 4th Dec 1:00pm</h5>
    <p>
      The main conference running from Wed - Fri focusing on the Computer Science and Programming NCEA standards.<br>
      Full catering and accommodation are included.
    </p>
  </div>

  <p id="programming-workshops">
    This year we are also providing optional paid workshops before the conference in the following packages. See the <a href="workshops.html#programming-workshops">workshops page</a> for details about what programming workshops are available.
  </p>

  <div class="panel radius clearfix">
    <h4 class="right">$200.00 NZD</h4>
    <h4>Programming Workshops (including accommodation)</h4>
    <h5>Mon 30th Nov 11:00am – Tue 1st Dec 5:00pm</h5>
    <p>Optional programming workshops on Mon - Tues (30 Nov - 1 Dec) before the main conference. This ticket includes accommodation at University Hall on Monday and Tuesday night, but food is not provided as part of this package.</p>
  </div>

  <div class="panel radius clearfix">
    <h4 class="right">$140.00 NZD</h4>
    <h4>Programming Workshops (excluding accommodation)</h4>
    <h5>Mon 30th Nov 11:00am – Tue 1st Dec 5:00pm</h5>
    <p>Optional programming workshops on Mon - Tues (30 Nov - 1 Dec) before the main conference. Food is not provided on Monday/Tuesday as part of this package.</p>
  </div>

  <p>
    You are welcome to attend a programming workshop and not the main conference, however we cannot provide you a transport subsidy as Google only funds CS4HS attendees.
  </p>

  <h4>Payment</h4>

  <p>
    For those paying to attend programming workshops, our registration process accepts payment by credit card or we can invoice you the amount. Note that there is no refund and/or subsidy if you are unable to attend and do not inform us. If you do let us know about cancelling before the event, we will refund your ticket where possible (however admin fees still apply). See the Terms and Conditions on the registration site for more details.
  </p>

  <h2 id="subsidy">Subsidy Levels</h2>

  <p>Our sponsors provide enough money to provide travel and accommodation subsidies to those travelling long distances. In our registration form, you can choose one of the following subsidy levels:</p>

  <ul>
    <li>I live near (less than 50km) Christchurch, so am not eligible for any subsidy or accommodation.</li>
    <li>I live within driving/bus distance (about 50 to 200km) from Christchurch, so would like to apply for accommodation.</li>
    <li>I would fly to the event from a main airport (Auckland, Wellington, Dunedin) and would like to apply for a $150 travel subsidy and accommodation subsidy.</li>
    <li>I live more than 60 minutes from a major airport and/or plan to drive a larger distance, and would like to apply for a larger travel subsidy and accommodation. The amount subsidised is provided on a case by case basis.</li>
    <li>I wish to attend a programming workshop but not the main conference so I am not eligible for a transport subsidy. Accommodation for programming workshops is part of the ticket cost.</li>
    <li>I am a workshop leader so I am not eligible for a transport subsidy.</li>
  </ul>

  <p>For those who are applicable for an accommodation subsidy, the full cost is covered (including breakfast).</p>

  <h3 id="waitlist">Expression of Interest Waitlist</h3>

  <p>
    You are able to express interest in attending our conference. Be aware this does not register you for the conference, but by filling out this form you will be given a chance to register before registrations are made public.
  </p>
  <a href="https://docs.google.com/forms/d/1u0yLVcUZFMxtM1pTkzdOIG_DxxnyYNIVShuuW2Ic2K8/viewform" class="button radius">Click here to express interest in attending</a>


</div>
{% endblock content %}
