{% extends 'layout.html' %}

{% block title %}Resources - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Resources</h2>

  <p>Throughout the conference, useful links or resources to materials from talks will be listed here.</p>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <h3>CS4HS Links &amp; General Slides</h3>
      <ul>
      	<li></li>
      	<li></li>
      	<li></li>
      </ul>

      <h3>Computer Science</h3>
      <ul>
      	<li></li>
      	<li></li>
      	<li></li>
      </ul>
    </div>
    <div class="small-12 medium-4 columns">
      <h3>Programming Workshops</h3>
      <ul>
      	<li></li>
      	<li></li>
      	<li></li>
      </ul>

      <h3>Teaching Workshops</h3>
      <ul>
      	<li></li>
      	<li></li>
      	<li></li>
      </ul>
    </div>
    <div class="small-12 medium-4 columns">
      <h3>Support Courses &amp; Workshops</h3>
      <ul>
      	<li></li>
      	<li></li>
      	<li></li>
      </ul>

      <h3>Student Opportunities</h3>
      <ul>
      	<li></li>
      	<li></li>
      	<li></li>
      </ul>

      <h3>Other</h3>
      <ul>
      	<li><a href="http://www.canterbury.ac.nz/theuni/maps/">UC Campus Maps</a></li>
      	<li><a href="http://www.cosc.canterbury.ac.nz/dept/building/maps/">Erskine Building Floor Plans</a></li>
      	<li></li>
      </ul>
    </div>
  </div>

</div>
{% endblock content %}
