{% extends 'layout.html' %}

{% block title %}Resources - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Resources</h2>

  <p>Throughout the conference, useful links or resources to materials from talks will be listed here.</p>

  <div class="row resource-list">
    <div class="small-12 large-4 columns">
      <h3>CS4HS Links &amp; General Slides</h3>
      <ul>
      	<li class="resource-link-unavailable">Beginners' Talk Slides</li>
      	<li class="resource-link-unavailable">Welcome Session Slides</li>
      	<li class="resource-link-unavailable">Student Story</li>
      	<li class="resource-link-unavailable">Wrap Up Session Slides</li>
      	<li><a href="https://docs.google.com/forms/d/11ep9k_D9bPHHPWHPjSdf6-5vQIeySNPN_DYCyOTrMEI/viewform">Post event survey</a></li>
      </ul>

      <h3>Computer Science</h3>
      <ul>
      	<li><a href="http://www.csfieldguide.org.nz/">Computer Science Field Guide</a></li>
      	<!-- <li><a href="http://cosc.canterbury.ac.nz/cs4hs/csfg">Computer Science Field Guide - 2016 Sneak Peak</a></li> -->
      	<li><a href="https://youtu.be/GNuCpiw8vig/">Computer Science Field Guide 2015 Development Video</a></li>
      </ul>
    </div>
    <div class="small-12 large-4 columns">
      <h3>Programming</h3>
      <ul>
        <li><a href="http://www.codeavengers.com/">Code Avengers</a></li>
        <li><a href="http://www.cs.otago.ac.nz/year12dt/">Otago Year 12 &amp; Year 13 Programming Books</a></li>
        <li><a href="http://www.codecademy.com/">Codecademy</a></li>
        <li><a href="http://scratch.mit.edu/">Scratch</a></li>
        <li><a href="https://groklearning.com/">Grok Leaning</a> (NCSS)</li>
        <li><a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">Interactive Python</a> (Online textbook)</li>
        <li class="resource-link-unavailable">Programming workshop slides will be added during the conference</li>
      </ul>

      <h3>Teaching Workshops</h3>
      <ul>
      	<li class="resource-link-unavailable">Programming Planning &amp; Assessments Slides</li>
      </ul>
    </div>
    <div class="small-12 large-4 columns">
      <h3>Support Courses &amp; Workshops</h3>
      <ul>
        <!-- <li class="resource-link-unavailable">Canterbury EDEM626 2015 Course</li> -->
        <!-- <li class="resource-link-unavailable">Canterbury Programming 2016 Course</li> -->
        <li><a href="https://www.cs.auckland.ac.nz/en/for/schools/teaching-digital-technologies-.html">Auckland University - Support for teachers</a></li>
        <li><a href="http://www.cs.otago.ac.nz/schools/">Otago University - Support for teachers</a></li>
        <li><a href="http://gathergather.co.nz/workshops/">Gather Workshops</a></li>
        <li><a href="http://digitaltechnologies.net.nz/">The Technology Hub</a></li>
      </ul>

      <h3>Student Opportunities</h3>
      <ul>
      	<li><a href="http://www.codeclub.org.nz/">Code Club Aotearoa</a></li>
      	<li><a href="http://girlsinnov8.weebly.com/">#GirlsInnov8 Code Camp</a></li>
      </ul>

      <h3>Other</h3>
      <ul>
      	<li><a href="http://www.canterbury.ac.nz/theuni/maps/">UC Campus Maps</a></li>
      	<li><a href="http://www.cosc.canterbury.ac.nz/dept/building/maps/">Erskine Building Floor Plans</a></li>
      </ul>
    </div>
  </div>

</div>
{% endblock content %}
