{% extends 'layout.html' %}

{% block title %}Page Moved - CS4HS Christchurch 2015{% endblock %}

{% block head %}
  {{ super() }}
  <!-- Redirect to schedule page -->
  <meta http-equiv="refresh" content="3; url=schedule.html" />
  <script type="text/javascript">
      window.location.href = "schedule.html"
  </script>
{% endblock head %}

{% block content %}
<div class="small-12 columns text-center">
  <h3>Page Moved</h3>
  <p>The timetable is now located on the schedule page.</p>
  <p>If you are not redirected automatically, follow this <a href="schedule.html">link</a>.</p>
</div>
{% endblock content %}
