{% extends 'layout.html' %}

{% block title %}Workshops - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Workshops</h2>

  <p>
    This page provides more information about the three workshop streams happening throughout the conference.
    When attending the conference, you will be able to choose a workshop in each stream to attend throughout
    the conference that best suits your needs. If you are struggling to pick which workshop suits you, get
    in contact with us and we can assist you in getting the most out of CS4HS.
  </p>

  <p>
    Remember the Christchurch event is particularly focused on people who have no background, are teaching these topics for the first time, or would like to go over the basics really carefully. Therefore there are not many workshops aimed at the advanced end, but we would appreciate you helping out at other workshops if you feel up to it. Contact <a href="people.html">Jack Morgan</a> if you are keen.
  </p>

  <ul>
    <li><a href="#programming-workshops">Programming Workshops (Monday - Tuesday) (Optional)</a></li>
    <li><a href="#computer-science-workshops">Computer Science Workshops (Wednesday - Friday)</a></li>
    <li><a href="#teaching-workshops">Teaching Workshops (Wednesday - Thursday)</a></li>
    <li><a href="#unconference">Unconference (Friday)</a></li>
  </ul>

  <div data-alert class="alert-box warning radius">
      Workshops events are subject to change.<a href="#" class="close">&times;</a>
  </div>

  <h2 id="programming-workshops">Programming Workshops</h2>

  <p>These workshops focus on learning the programming content and occur on the Monday and Tuesday before the conference. These are <em>optional paid</em> workshops ($140 without accommodation or $200 with accommodation), see the <a href="register.html">register page</a> for more details.</p>

  <h4>Just for starters - Scratch and Python <small>with Tim Bell - University of Canterbury</small></h4>
  <p>For those with absolutely no experience, programming concepts are taught gently using Scratch and Python at the same time. Intended for those with no programming experience, this session will mainly orient you around what is available, and give information on how to get up to speed in programming.</p>

  <h4>Crash course in Python <small>with Tanya Gray - Gather Workshops</small></h4>
  <p>For those who are ready to take on a text based programming language, Tanya will take you through an introduction to Python to the point where you have written several working programs. While programming takes weeks to learn properly, this will give you a good idea of what is involved, and pointers to what to do next to become confident with the language.</p>

  <h4>Building Apps and Games with JavaScript <small>with Michael Walmsley - Code Avengers</small></h4>
  <p>For those who are looking for using JavaScript to learn programming concepts, Michael will take teachers through building games and apps with the Code Avengers material. These lessons are also suitable for digital media, or junior programming courses. Please bring headphones to this workshop to hear game sounds (this is optional).</p>

  <h4>Databases for Level 2 &amp; 3 <small>with Amit Sarkar - CPIT</small></h4>
  <p>This workshop will cover important parts of achievement standard 2.41 (AS91368): "designing and constructing a database" with a well-organised table structure, relational database design, "using tools of the software to integrate data from a database...", and cover 3.41 (AS91633): "creating queries which combine data from multiple tables" (joins in SQL), and "creating queries which insert, update or delete to modify data" (CRUD). In addition to these we will write assessment, we will share number of database examples and we will build database solutions for them and will also share resources available to help teach databases to High School students.</p>

  <h4>Electronics with the Raspberry Pi <small>with Ross Petersen - Skills Choice</small></h4>
  <p>For those wishing to look at electronics and programming, this workshop will look at how to use the PICAXE Raspberry-Pi system for learning and NCEA assessments. This workshops primarily connects to the Electronics and Infrastructure standards.</p>

  <h2 id="computer-science-workshops">Computer Science Workshops</h2>

  <p>These workshops occur on the Wednesday, Thursday, and Friday during the conference. If you struggle to find a workshop that suits you best, get in <a href="people.html">contact with Jack Morgan or Tim Bell</a>.</p>

  <h4>Computer Science Level 1 - What &amp; How? <small>with Caitlin Duncan - University of Canterbury</small></h4>
  <p>For those who have never used the level 1 computer science standard before (1.44/AS91074) Caitlin will go over the purpose of this standard, investigate the topic, show some examples of how to get students engaged with the ideas in it, and cover the teacher assessment guides. Recommended for first timers.</p>

  <h4>Computer Science Level 1 &amp; 2 - Quick Overview <small>with Tim Bell - University of Canterbury</small></h4>
  <p>For those who have had an introduction to Computer Science and wish to cover level 1 and 2 (1.44/AS91074 and 2.44/AS91371) at a faster pace over the three days. Tim will cover the content, provide steps on how to teach concepts, and cover the assessment guides.</p>

  <h4>Computer Science Level 3 - Teacher's Experiences <small>with Jack Morgan - University of Canterbury</small></h4>
  <p>For those who are interested in level 3 (3.44/AS91636) come hear different experiences teachers have had with a variety of topics. We will also here about report writing for specifically level 3. Do be aware that this session is different to previous years and focuses on teacher experiences, rather than teaching level 3 topics as there is not enough time for this at CS4HS this year.</p>

  <h2 id="teaching-workshops">Teaching Workshops</h2>

  <p>These workshops focus on how to teach and assess programming for NCEA standards, and occur on the Wednesday and Thursday during the conference. If you struggle to find a workshop that suits you best, get in <a href="people.html">contact with Jack Morgan or Tim Bell</a>.</p>

  <h4>Helping Students Understand Programming <small>with Tim Bell &amp; Caitlin Duncan - University of Canterbury</small></h4>
  <p>When students take on programming for the first time, a wide range of ideas and misconceptions arise. This course will look at possible ideas students may come up, and also different approachs to teach a concept.</p>

  <h4>Programming Planning &amp; Assessments <small>with Jack Morgan - University of Canterbury</small></h4>
  <p>What are some good approaches for teaching planning with programming? What makes a good assessment? What is programming style? We will discuss these questions and more in this workshop focusing on the level 2 and 3 standards.</p>

  <h4>Python Basics with Code Avengers <small>with Michael Walmsley - Code Avengers</small></h4>
  <p>Cover the programming concepts of Python required for level 1 &amp; level 2 using Code Avengers exercises. This workshop also has teachers trying lessons and practicing exercises, and also covers using the Code Avengers teacher tools like class setup and marking.</p>

  <h2 id="unconference">Unconference</h2>

  <p>In the Unconference, attendees and presenters converge on topics of mutual interest that they would like to discuss or learn more about. It's also a chance to spend more time on topics from earlier sessions if there's interest. Information about available unconference streams will become available during the conference, and listed on the schedule page.</p>

</div>
{% endblock content %}
