{% extends 'layout.html' %}

{% block title %}Workshops - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Workshops</h2>

  <p>
    This page provides more information about the three workshop streams happening throughout the conference.
    When attending the conference, you will be able to choose a workshop in each stream to attend throughout
    the conference that best suits your needs. If you are struggling to pick which workshop suits you, get
    in contact with us and we can assist you in getting the most out of CS4HS.
  </p>

  <ul>
    <li><a href="#programming-workshops">Programming Workshops (Monday - Tuesday) (Optional)</a></li>
    <li><a href="#computer-science-workshops">Computer Science Workshops (Wednesday - Friday)</a></li>
    <li><a href="#teaching-workshops">Teaching Workshops (Wednesday - Friday)</a></li>
  </ul>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <h3 id="programming-workshops">Programming Workshops</h3>

    </div>
    <div class="small-12 medium-4 columns">
      <h3 id="computer-science-workshops">Computer Science Workshops</h3>

    </div>
    <div class="small-12 medium-4 columns">
      <h3 id="teaching-workshops">Teaching Workshops</h3>

    </div>
  </div>

</div>
{% endblock content %}
