<footer id="footer" class="text-center">
  <div class="row">
    <div class="small-12 columns">
      <p>
          A big thank you to our sponsors for helping us run this event!
      </p>
      <p>
          <a href="http://www.cs4hs.com/"><img src="./img/google-logo-colour.png" class="logo"></img></a>
          <a href="http://www.canterbury.ac.nz/"><img src="./img/canterbury-logo.png" class="logo"></img></a>
      </p>
      <p>
          <a href="http://www.catalyst.net.nz/"><img src="./img/catalyst-logo.png" class="logo-small"></img></a>
          <a href="https://www.microsoft.com/en-nz/"><img src="./img/microsoft-logo.png" class="logo-small"></img></a>
          <a href="http://nzacditt.org.nz/"><img src="./img/nzacditt-logo.png" class="logo-small"></img></a>
      </p>
      <p>
          <a href="https://orionhealth.com/"><img src="./img/orion-health-logo.png" class="logo-small"></img></a>
          <a href="http://cerebralfix.com/"><img src="./img/cerebral-fix-logo.png" class="logo-small"></img></a>
          <a href="http://www.alliedtelesis.co.nz/"><img src="./img/allied-telesis-logo.png" class="logo-small"></img></a>
          <a href="http://www.telogis.com/"><img src="./img/telogis-logo.png" class="logo-small"></img></a>
      </p>
      <p>
        <a href="https://github.com/uccser/cs4hs">This website is open source and available on GitHub</a>
      </p>
      <p>
          2015 - <a href="https://twitter.com/jackmorgannz">Jack Morgan</a> &amp; <a href="https://twitter.com/jgriffs_nz">Jordan Griffiths</a>
      </p>
    </div>
  </div>
</footer>