<footer id="footer" class="text-center">
  <div class="row">
    <div class="small-12 columns">
      <p>
          A big thank you to our sponsors for helping us run this event!
      </p>
      <p>
          <a href="http://www.cs4hs.com/"><img src="./img/google-logo-colour.png" class="logo" style="max-width:16em;"></img></a>
          <a href="http://www.canterbury.ac.nz/"><img src="./img/canterbury-logo.png" class="logo" style="max-height:6em;"></img></a>
      </p>
      <p>
          <a href="http://www.catalyst.net.nz/"><img src="./img/catalyst-logo.png" class="logo" style="max-height:2.1em;"></img></a>
          <a href="https://www.microsoft.com/en-nz/"><img src="./img/microsoft-logo.png" class="logo" style="max-height:2.5em;"></img></a>
          <a href="http://nzacditt.org.nz/"><img src="./img/nzacditt-logo.png" class="logo" style="max-height:3em;"></img></a>
      </p>
      <p>
        For general and website enquiries: <a href="mailto:csse-teacher-events@canterbury.ac.nz">csse-teacher-events@canterbury.ac.nz</a>
      </p>
      <p>
        <a href="https://github.com/uccser/cs4hs">This website is open source and available on GitHub</a>
      </p>
      <p>
          2016 - <a href="https://twitter.com/jackmorgannz">Jack Morgan</a>
      </p>
    </div>
  </div>
</footer>