<footer id="footer" class="text-center">
  <div class="row">
    <div class="small-12 columns">
      <p>
          A big thank you to our sponsors for helping us run this event!
      </p>
      <p>
          <a href="http://www.cs4hs.com/"><img src="./img/google-logo.png" class="logo"></img></a>
          <a href="http://www.canterbury.ac.nz/"><img src="./img/canterbury-logo.png" class="logo"></img></a>
          <a href="http://nzacditt.org.nz/"><img src="./img/nzacditt-logo.png" class="logo"></img></a>
      </p>
      <p>
          2015
      </p>
    </div>
  </div>
</footer>