{% extends 'layout.html' %}

{% block title %}Accommodation{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Accommodation</h2>
</div>
<div class="small-12 medium-7 columns">
  <p>
    For those travelling to the conference from outside of Christchurch, accommodation is provided at <a href="http://www.canterbury.ac.nz/future-students/accommodation/halls-of-residence-and-villages/university-hall/#tab2">University Hall</a>. We organise all bookings and payments, so all you need to do is turn up! If you require a room with special requirements, we recommended booking at the Academy Motor Lodge (directly across the road from the conference), however we currently cannot cover the cost of these bookings.
  </p>

  <h3>Information for those staying at University Hall</h3>

  <p>
    If you are arriving at the beginning of a day, please do not check into your accommodation but come straight to the conference. We will look after your bags in a secure room and have them transported to the hall for you to pick up in the evening. At the end of the day you can head over to the University Hall office and receive your room key. Wireless internet will be available in common areas (you will be provided with an account for internet access when you arrive.)
  </p>

  <p>
    Please also read the <a href="./files/uca-house-rules.pdf">Accommodation House Rules</a>.
  </p>
</div>
<div class="small-12 medium-5 columns">
  <img src="img/university-hall.jpg">
</div>
{% endblock content %}
