{% extends 'layout.html' %}

{% block content %}
<div class="small-12 columns">
    <h2>Changes to 2017 CS4HS</h2>

    <p>
      This year is the seventh time we'll be running CS4HS at Canterbury.
      We started this in 2011 because there was nothing available to help teachers get up to speed with Computer Science when it became available in NCEA in 2011.
      Over the years CS4HS has become a bit of an institution in the DT world.
      In the meantime, we've seen hundreds of teachers get on board with the new achievement standards, a flourishing teacher association has developed, and a range of PD events and courses have developed.
    </p>

    <p>
      At the same time, our research group at Canterbury has become heavily involved in developing resources (especially <a href="http://csunplugged.org/">Unplugged</a> and the <a href="http://www.csfieldguide.org.nz/">Field Guide</a>), and running a range of courses (e.g. <a href="http://www.canterbury.ac.nz/courseinfo/GetCourseDetails.aspx?course=EDEM626&occurrence=17W(D)&amp;year=2017">EDEM626</a>, <a href="http://www.canterbury.ac.nz/courseinfo/GetCourseDetails.aspx?course=EDEM665&year=2017">EDEM665</a>, <a href="http://cosc.canterbury.ac.nz/cs4ps/">CS4PS</a>, and CS for College of Education Students).
      Several of our alumni are now actively involved in offering PD and/or developing resources in other parts of the country, and we hope to continue to help grow NZ's capability in this area.
    </p>

    <p>
      Now that DT is becoming part of the curriculum from Year 1, the need for teacher PD has ballooned.
      Many new initiatives are coming up to support these changes, and hopefully more will appear that we don't know about yet!
      We are also seeing more support from the Ministry of Education for PD, and will continue to lobby for this to increase substantially.
    </p>

    <p>
      You may also be aware that CS4HS is funded for about 50 attendees; with a lot of volunteered time and scraping we've managed to stretch this to 150 attendees, but this isn't sustainable, and doesn't make sense given that there are other funded options available now.
    </p>

    <p>
      <strong>In the light of all these changes, we are returning the focus of our December CS4HS event to be helping high school teachers who are at the beginning of their DT teaching take some first steps.</strong>
      For those who have got beyond the "first steps", our EDEM courses are now available, which have grown out of CS4HS; they have a 3 to 5 day on-site intensive session, backed up by regular online teaching during the year to support teachers in their practice.
      The also have the advantage that you get a postgraduate qualification out of them!
      Thanks to support from the <a href="https://signal.ac.nz/">Signal Grad School</a>, we've been able to secure scholarship funding for teachers to participate in these courses at a minimal cost, and we'll continue to pursue this kind of funding.
    </p>

    <p>
      We're also delighted to see <a href="http://nzacditt.org.nz/">NZACDITT</a> becoming active in PD provision, such as offering the <a href="http://nzacditt.org.nz/a/O9NVVgF">Skills 17 event</a>; and local groups are also providing some excellent support for each other.
      We hope that as this space develops, more PD events will be offered in a variety of formats to suit the needs of teachers.
    </p>

    <p>
      This means that our CS4HS event will prioritise teachers who are attending here for the first time, and will focus on NCEA level 1 and 2.
      We will also consider teachers who are attending for a second time, who want to go over the basics again.
      In the past it's been helpful to have experienced teachers around; we won't be offering PD for such teachers, but they can apply separately if they are willing to help with the event, rather than expecting to be receiving PD themselves.
      Those who are wanting to look at advanced topics should consider enrolling in the EDEM courses, which go over the traditional topics covered in CS4HS in great detail, and at a more sustainable pace.
    </p>

    <p>Thanks,</p>

    <p>Tim Bell, Jack Morgan, and the Christchurch CS4HS team.</p>
</div>
{% endblock content %}
