{% extends 'layout.html' %}

{% block content %}
<div class="small-12 medium-8 columns text-justify">
    <h2>Welcome!</h2>

    <div data-alert class="alert-box info radius">
      <h4>Heads up!</h4>
      <p>This year CS4HS is quite different to previous years. The PD landscape for DT in NZ has changed a lot, with a rich range of offerings now available. To help us avoid spreading ourselves too thin, CS4HS at Canterbury this year will be aimed at teachers taking their "first steps" in teaching Computer Science and Programming; hence priority will be given to teachers attending for the first time.</p>
      <p>For more details <a href="./changes.html">read the full announcement</a>.</p>
    </div>

    <p>
      Welcome to the website for the Christchurch Computer Science for High Schools event, held at the University of Canterbury in 2017.
      The event is a collection of workshops focused on preparing New Zealand educators for teaching the computer science and programming achievement standards for NCEA.
      We have received funding for this event through Google's <a href="http://www.cs4hs.com/">CS4HS Grant Program</a>, and through other generous sponsors, and are running the workshops over three days from the 6th to 8th of December 2017, with optional programming workshops occurring on the 4th and 5th of December.</p>

    <p>
      Thanks to generous funding, we are able to provide accommodation and food at no charge to New Zealand educators attending the main workshops.
      We are also able to provide travel subsidies to those travelling large distances to attend the event.
    </p>

    <p>The workshops aims to cover:</p>

    <ul>
        <li>Introduction to CS principles</li>
        <li>Computer Science NCEA Standards</li>
        <li>Programming NCEA Standards</li>
        <li>Student stories and industry visits</li>
        <li>Networking opportunities with other NZ educators</li>
    </ul>

    <div class="text-center">
      <img src="img/intro-2016.jpg" class="th">
      <p class="image-subtitle">Welcome session in 2016</p>
    </div>

    <p>What teachers said about our past CS4HS events:</p>
    <div class="quotes"><em>
      <p>“I have been to a few conferences and this was by far the best. The teaching and learning was refreshing and empowering. The opening presentation on Wednesday encouraged an agentic frame of reference which made for a very positive conference. The focus was Computer Science and all the workshops and presentations served as pieces that fit together to see and understand Computer Science. Awesome! Thanks to the sponsorship my school is more likely to let me attend next year. Tim and his team of volunteers worked tirelessly to make the conference the success it was.”</p>

      <p>"This was one of the best workshops that I have attended. The presenters were wonderful and nothing was a problem, they were very supportive, friendly, knowledgeable, and diverse. The accommodation was lovely, the food was a great selection. It was no stress to attend. The ability to network and 'talk the talk' with other DT teachers was invaluable. Thank you."</p>

      <p>“Thanks so much for a brilliant conference. Everyone was friendly, helpful and above all passionate. You guys are awesome.”</p>

      <p>"Please keep on having these workshops - they are fantastic."</p>
    </em>
    </div>

    <div class="text-center">
      <img src="img/collage-2015.jpg" class="th">
      <p class="image-subtitle">Various photos from the 2015 event</p>
    </div>

    <p>This website will tell you everything you need to know about the workshops including a <a href="./timetable.html">full schedule</a>,
    information about <a href="./transport.html">transport</a> and <a href="./location.html">locations</a> for the event, and <a href="./resources.html">useful links to materials</a> you may find useful throughout the workshops.</p>

    <p>
      If it's your first time attending, the main workshops starts at 9am on the Wednesday with a special introduction session.
      If you are a returning attendee, the start time is 10:30am, however you are welcome to arrive earlier to register.
      The workshops also finishes officially with lunch on Friday, however an optional unconference event will be running for those with later flights.
    </p>

    <p>If you are looking for information about the Wellington CS4HS event, looking to contact us, or wanting to read the FAQ, you can find all this information on the <a href="about.html">about page</a>.</p>
</div>

<div class="small-12 medium-4 columns">
  <h2>Updates</h2>
  <div class="text-center">
  <a class="twitter-timeline"
     href="https://twitter.com/search?q=%23CS4HSchch%20AND%20from%3A%40UCCSEd"
     data-widget-id="525448302553083904"
     data-chrome="noheader nofooter noscrollbar transparent"
     height="1200">
  </a>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<!-- Twitter script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock scripts %}
