{% extends 'layout.html' %}

{% block title %}Location - CS4HS{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Locations</h2>
  <p>
    Use the map below to find locations, and <a href="location.html#address-details">full address details can be found here</a>. Locations of each event are listed on the <a href="schedule.html">schedule page</a>. Zoom the map out to see minor locations (like caf&eacute;s/parking).
  </p>

  <div id="map-canvas" class="flex-video"></div>

  <h4 id="address-details">Address Details</h4>

  <p>
    <address>
    <strong>Erskine Building</strong><br>
      Engineering Road, Ilam<br>
      Christchurch 8041<br>
    </address>
  </p>

  <p>
    <address>
    <strong>C Lecture Theatre Block</strong><br>
      University of Canterbury<br>
      Ilam Campus<br>
      Christchurch 8041<br>
    </address>
  </p>

  <p>
  <address>
    <strong>University Hall</strong><br>
      9 Maidstone Road, Ilam<br>
      Christchurch 8041<br>
    </address>
  </p>

</div>
{% endblock content %}

{% block scripts %}
<!-- Load Google Map -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlzKWHXYO4RajRhUoJKGku_saOPj9Iufs">
</script>
<!-- Load custom marker labels -->
<script src="js/markerwithlabel.js" type="text/javascript"></script>
<script type="text/javascript">
		function initialize() {
			var mapOptions = {
				center: { lat: -43.521531073306576, lng: 172.58072521537542},
				zoom: 16
			};
		  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

			var walkingPathCoordinates = [
				new google.maps.LatLng(-43.52062814128488, 172.5790163129568),
				new google.maps.LatLng(-43.52066412267943, 172.57927916944027),
				new google.maps.LatLng(-43.52064953563017, 172.57936768233776),
				new google.maps.LatLng(-43.5208362495943, 172.57943339645863),
				new google.maps.LatLng(-43.521064778920234, 172.57944211363792),
				new google.maps.LatLng(-43.52165992357031, 172.57935360074043),
				new google.maps.LatLng(-43.52167645528233, 172.5794642418623),
				new google.maps.LatLng(-43.521925402868725, 172.5795353204012),
				new google.maps.LatLng(-43.52210530575856, 172.57966574281454),
  			new google.maps.LatLng(-43.52305635104029, 172.58184000849724),
  			new google.maps.LatLng(-43.52310108286228, 172.58188292384148),
				new google.maps.LatLng(-43.5232216641303, 172.5822101533413),
				new google.maps.LatLng(-43.523293623804435, 172.58222356438637),
				new google.maps.LatLng(-43.523248892125196, 172.58265540003777),
				new google.maps.LatLng(-43.52335391427614, 172.58292898535728),
				new google.maps.LatLng(-43.52313609035202, 172.58311942219734)
			];

			var walkingPath = new google.maps.Polyline({
				path: walkingPathCoordinates,
				geodesic: true,
				strokeColor: '#FF786E',
				strokeWeight: 4
			});

			walkingPath.setMap(map);

			var markerErskine = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.52264306633343, 172.5814675167203),
				map: map,
				labelContent: "Erskine",
			  labelClass: "map-label map-label-major",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerErskine = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.523130255, 172.583657205),
				map: map,
				labelContent: "C Block",
			  labelClass: "map-label map-label-major",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerCarPark = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.52508286377655, 172.58607923984528),
				map: map,
				labelContent: "Fine Arts Parking",
			  labelClass: "map-label map-label-minor",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerCarPark = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.52360091009569, 172.58283644914627),
				map: map,
				labelContent: "Food Court (Ground Floor)",
			  labelClass: "map-label map-label-minor map-label-large",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerCarPark = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.52040544514935, 172.57607862353325),
				map: map,
				labelContent: "Accommodation Parking",
			  labelClass: "map-label map-label-minor map-label-large",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerRR = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.52034904163086, 172.57872730493546),
				map: map,
				labelContent: "Accommodation",
			  labelClass: "map-label map-label-major",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerBus = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.521119236844655, 172.5793857872486),
				map: map,
				labelContent: "Bus Stop",
			  labelClass: "map-label map-label-minor",
				labelAnchor: new google.maps.Point(40, 40),
			});

      var markerBus = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.523970429512374, 172.5842486321926),
				map: map,
				labelContent: "Cafe 101",
			  labelClass: "map-label map-label-minor",
				labelAnchor: new google.maps.Point(40, 40),
			});

      var markerBus = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.522446633550736, 172.5809297338128),
				map: map,
				labelContent: "Reboot Cafe",
			  labelClass: "map-label map-label-minor",
				labelAnchor: new google.maps.Point(40, 40),
			});

      var markerBus = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.51953604712754, 172.57914036512375),
				map: map,
				labelContent: "LB&Co Cafe",
			  labelClass: "map-label map-label-minor",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerBus = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.526299, 172.579311),
				map: map,
				labelContent: "Tandoori Palace",
			  labelClass: "map-label map-label-minor",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerBus = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.529969, 172.575136),
				map: map,
				labelContent: "Bush Inn Mall",
			  labelClass: "map-label map-label-minor",
				labelAnchor: new google.maps.Point(40, 40),
			});

			var markerBus = new MarkerWithLabel({
				position: new google.maps.LatLng(-43.531656892509716, 172.5735254958272),
				map: map,
				labelContent: "Spagalimis",
			  labelClass: "map-label map-label-minor",
				labelAnchor: new google.maps.Point(40, 40),
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock scripts %}
