{% extends 'layout.html' %}

{% block title %}People - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
    <h2>People</h2>

    <p>The following people are involved in CS4HS at Christchurch. This list will be updated as speakers confirm sessions.</p>

    <p><strong>Note:</strong> General event queries should be emailed to <a href="mailto:csse-teacher-events@canterbury.ac.nz">csse-teacher-events@canterbury.ac.nz</a>.</p>

    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center">
      <li>
        <img src="img/people/tim-bell.jpg" class="th th-people">
        <h3>Tim Bell</h3>
        <h5>University of Canterbury</h5>
        <span class="label warning">Organiser</span> <span class="label">Workshop Leader</span>
        <p><a href="mailto:tim.bell@canterbury.ac.nz">email</a></p>
      </li>
      <li>
        <img src="img/people/jack-morgan.png" class="th th-people">
        <h3>Jack Morgan</h3>
        <h5>University of Canterbury</h5>
        <span class="label warning">Organiser</span>
        <p><a href="mailto:jack.morgan@canterbury.ac.nz">email</a> -
        <a href="http://twitter.com/jackmorgannz">@jackmorgannz</a> -
        <a href="http://jackmorgannz.github.io/">website</a></p>
      </li>
      <li>
        <img src="img/people/blank.png" class="th th-people">
        <h3>Tracy Henderson</h3>
        <h5>University of Canterbury</h5>
        <span class="label warning">Organiser</span>
        <p><a href="mailto:tracy.henderson@canterbury.ac.nz">email</a></p>
      </li>
      <li>
        <img src="img/people/hayley-van-waas.jpg" class="th th-people">
        <h3>Hayley van Waas</h3>
        <h5>University of Canterbury</h5>
        <span class="label warning">Organiser</span> <span class="label">Workshop Leader</span>
        <p><a href="mailto:hayleyavw@gmail.com">email</a> -
        <a href="https://twitter.com/hayleyavw">@hayleyavw</a> -
        <a href="http://hayleyavw.com/">website</a></p>
      </li>
      <li>
        <img src="img/people/caitlin-duncan.jpg" class="th th-people">
        <h3>Caitlin Duncan</h3>
        <h5>University of Canterbury</h5>
        <span class="label">Workshop Leader</span>
        <p><a href="mailto:caitlin.duncan@pg.canterbury.ac.nz">email</a> -
        <a href="http://twitter.com/cduncs42">@cduncs42</a></p>
      </li>
      <li>
        <img src="img/people/heidi-newton.jpeg" class="th th-people">
        <h3>Heidi Newton</h3>
        <h5>Code Avengers &amp; University of Canterbury</h5>
        <span class="label">Workshop Leader</span>
        <p><a href="mailto:heidi@computerscience.co.nz">email</a> -
        <a href="http://twitter.com/heidinewtonnz">@heidinewtonnz</a></p>
      </li>
      <li>
        <img src="img/people/sam-jarman.png" class="th th-people">
        <h3>Sam Jarman</h3>
        <h5>Sailthru</h5>
        <span class="label success">Speaker</span>
        <p><a href="http://twitter.com/samjarman">@samjarman</a> -
        <a href="http://samjarman.co.nz/">website</a></p>
      </li>
      <li>
        <img src="img/people/tanya-gray.jpeg" class="th th-people">
        <h3>Tanya Gray</h3>
        <h5>Gather Workshops</h5>
        <span class="label">Workshop Leader</span>
        <p><a href="http://twitter.com/tanya">@tanya</a> -
        <a href="http://tanyagray.co.nz/">website</a></p>
      </li>
      <li>
        <img src="img/people/michael-walmsley.jpg" class="th th-people">
        <h3>Michael Walmsley</h3>
        <h5>Code Avengers</h5>
        <span class="label">Workshop Leader</span>
        <p><a href="mailto:mike@codeavengers.com">email</a></p>
      </li>
      <li>
        <img src="img/people/amitrajit-sarkar.png" class="th th-people">
        <h3>Amitrajit Sarkar</h3>
        <h5>Ara Institute of Canterbury</h5>
        <span class="label">Workshop Leader</span>
        <p><a href="mailto:amit.sarkar@ara.ac.nz">email</a></p>
      </li>
    </ul>

</div>
{% endblock content %}
