{% extends 'layout.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Register</h2>

  <p>This page details the events comprising CS4HS, registration information, and also payment and subsidy information.</p>

  <!-- <div data-alert class="alert-box alert radius">
    Registrations for the 2016 workshops are now closed. Keep an eye on this website in mid-2017 to reserve you place at our 2017 event!
  </div> -->

  <!-- <div data-alert class="alert-box warning radius">
      At present we still can provide all accommodation free of charge, however we are unable to provide a transport subsidy for travel costs. We are actively seeking more funding from sponsors, and if we receive sufficient funding, we may be able to provide a subsidy for your travel costs (subsidies are given on a first-in first-served basis, we will contact you if you become eligible). <a href="#" class="close">&times;</a>
  </div> -->

  <h3>2016 Workshop Events</h3>

  <div class="panel radius clearfix">
    <h4 class="right">FREE</h4>
    <h4>CS4HS Main Workshops</h4>
    <h5>Wednesday 30th November – Friday 2nd December</h5>
    <p>
      The main workshops running from Wed - Fri focusing on the Computer Science and Programming NCEA standards. Full catering and accommodation are included.
    </p>
  </div>

  <p id="programming-workshops">
    We also provide optional paid workshops before the main workshops in the following packages. See the <a href="workshops-programming.html">programming workshops page</a> for details about what programming workshops are available.
  </p>

  <div class="panel radius clearfix">
    <h4 class="right">$265.00 NZD</h4>
    <h4>Programming Workshops (including accommodation)</h4>
    <h5>Monday 28th November – Tuesday 29th November</h5>
    <p>Optional programming workshops on Mon - Tues before the main workshops. This ticket includes accommodation at Bishop Julius Hall on Sunday and Monday night, but food is not provided as part of this package.</p>
  </div>

  <div class="panel radius clearfix">
    <h4 class="right">$200.00 NZD</h4>
    <h4>Programming Workshops (excluding accommodation)</h4>
    <h5>Monday 28th November – Tuesday 29th November</h5>
    <p>Optional programming workshops on Mon - Tues before the main workshops. Food is not provided on Monday/Tuesday as part of this package.</p>
  </div>

  <p>
    You are welcome to attend a programming workshop and not the main workshops, however we cannot provide you a transport subsidy as Google only funds CS4HS attendees.
  </p>

  <h4>Payment</h4>

  <p>
    For those paying to attend programming workshops, we will send an invoice to you in mid-November. Note that there is no refund and/or subsidy if you are unable to attend and do not inform us. If you do let us know about cancelling before the event, we will refund your ticket where possible (however admin fees still apply). See the Terms and Conditions on the registration form for more details.
  </p>

  <div class="row">
    <div class="small-12 medium-6 small-centered columns">
      <a class="button disabled expand radius">
        <strong>Registrations will open soon - stay tuned!</strong>
      </a>
    </div>
  </div>

  <p class="text-center"><em>You can <a href="https://docs.google.com/forms/d/e/1FAIpQLSdPDhLC55DCQzGIlVO1sFz-dm_Er_ngtqou-zgodP6VU4RzOA/viewform">add your name to the waitlist</a>. Registrations will close on the 11th of November 2016</em></p>

  <p>
    It's ok to fine-tune parts of registration later e.g. changing the exact number of nights you'll be staying, contact <a href="mailto:csse-teacher-events@canterbury.ac.nz">csse-teacher-events@canterbury.ac.nz</a> if you need to change your registration.
  </p>

  <h2 id="subsidy">Subsidy Levels</h2>

  <p>Our sponsors provide enough money to provide travel and accommodation subsidies to those travelling long distances from within New Zealand. In our registration form, you can choose one of the following subsidy levels:</p>

  <ul>
    <li>I live near (less than 50km) Christchurch, so am not eligible for any subsidy or accommodation.</li>
    <li>I live within driving/bus distance (about 50 to 200km) from Christchurch, so would like to apply for accommodation.</li>
    <li>I would fly to the event from a main airport (Auckland, Wellington, Dunedin) and would like to apply for a $150 travel subsidy and accommodation subsidy.</li>
    <li>I live more than 60 minutes from a major airport and/or plan to drive a larger distance, and would like to apply for a larger travel subsidy and accommodation. The amount subsidised is provided on a case by case basis.</li>
    <li>I wish to attend a programming workshop but not the main workshops so I am not eligible for a transport subsidy. Accommodation for programming workshops is part of the ticket cost.</li>
    <li>I am a workshop leader so I am not eligible for a transport subsidy.</li>
  </ul>

  <p>For those who are applicable for an accommodation subsidy, the full cost is covered (including breakfast).</p>

</div>
{% endblock content %}
