{% extends 'layout.html' %}

{% block title %}Transport{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Parking</h2>

  <p>For those driving to the venue, see here for <a href="http://www.canterbury.ac.nz/campus-services/parking/visitors.shtml">parking charges at the University of Canterbury</a>. Recommended car parks that are close to the event venue are the Erskine Car Park (limited spaces), Law Car Park, and UCSA Car Park.</p>

  <h2>Transport</h2>

  <p>Please note we are unable to provide transport to and from the airport this year. Below are several options for transport to and from the venue (addresses are listed on the <a href='location.html#address-details'>location page</a>).</p>

  <h3>Bus</h3>
  <p>The <a href="http://www.metroinfo.co.nz/timetables/Pages/Timetable.aspx?routeid=P">Purple Line Bus</a> runs from the airport to the university regularly. The bus stop is to the far left when you exit outside the international arrivals terminal (<a href="http://www.christchurchairport.co.nz/media/24273/cial_website_parking_map_2013_v4.jpg">see here</a>), to the University Bus Stop which is between Erskine and University Hall (see the map above). A ticket to university costs less than $10, <a href="http://www.metroinfo.co.nz/timetables/Pages/Timetable.aspx?routeid=P">check the timetable/map here</a>, and is only 10 minutes from the airport.</p>

  <h3>Shuttle</h3>
  <p>Airport shuttles are a popular cheaper option, <a href="http://www.christchurchairport.co.nz/en/parking-and-transport/public-transport/shuttles/">information on these is available here.</a></p>

  <h3>Taxi</h3>
  <p><a href="http://www.christchurchairport.co.nz/en/parking-and-transport/public-transport/taxis/">Information on taxi services is available here</a>. Approximate cost $30 to $45 from the airport, roughly $5 to $10 cheaper heading to the airport.</p>

</div>
{% endblock content %}
