{% extends 'layout.html' %}

{% block title %}Workshops - CS4HS Christchurch 2015{% endblock %}

{% block content %}
<div class="small-12 columns">
  <h2>Workshops</h2>

  <p>
    This page provides more information about the three workshop streams happening throughout the event.
    When attending the event, you will be able to choose a workshop that best suits your needs in each stream to attend throughout the event. If you are struggling to pick which workshop suits you, get in contact with us and we can assist you in getting the most out of CS4HS.
  </p>

  <p>
    Remember the Christchurch event is particularly <strong>focused on people who have no background</strong>, are teaching these topics for the first time, or would like to go over the basics really carefully. Therefore there are not many workshops aimed at the advanced end, but we would appreciate you helping out at other workshops if you feel up to it. <a href="mailto:csse-teacher-events@canterbury.ac.nz">Contact us</a> if you are keen.
  </p>

  <div data-alert class="alert-box warning radius">
      Workshops events are subject to change.<a href="#" class="close">&times;</a>
  </div>

  <div class="row">
    <div class="small-12 medium-6 small-centered columns">
      <a href="workshops-programming.html" class="button expand radius">
        <strong>Programming Workshops</strong><br>
        Monday - Tuesday (Optional)
      </a>
    </div>
    <div class="small-12 medium-6 small-centered columns">
      <a href="workshops-computer-science.html" class="button expand radius">
        <strong>Computer Science Workshops</strong><br>
        Wednesday - Friday
      </a>
    </div>
    <div class="small-12 medium-6 small-centered columns">
      <a href="workshops-teaching.html" class="button expand radius">
        <strong>Teaching Workshops</strong><br>
        Wednesday
      </a>
    </div>
  </div>
</div>
{% endblock content %}
