{% extends 'layout.html' %}

{% block title %}Programming Workshops{% endblock %}

{% block content %}
<div class="small-12 columns workshops">
  <h1>Programming Workshops</h1>

  <p>These optional full day workshops focus on learning the programming content and occur on the Monday and Tuesday before the main workshops. These are <em>optional paid</em> workshops ($200 without accommodation or $265 with accommodation), see the <a href="register.html">register page</a> for more details.</p>

  <p>For those who wish to attend a programming workshop, you will attend one workshop for the entirely of Monday and Tuesday.</p>

  <h2>Workshops available</h2>
  <p>Click a link to see the full details about the workshop:</p>
  <ul>
    <li><a href="#uc">Just for Starters: Scratch and Python</a> with University of Canterbury</li>
    <li><a href="#code-avengers-1">Intermediate Python: NCEA Level 1 and 2</a> with Code Avengers</li>
    <li><a href="#gather-workshops">Level 3 Programming: Desktop apps with Python</a> with Gather Workshops</li>
    <li><a href="#ara">Databases</a> with Amit</li>
    <li><a href="#code-avengers-2">Digital information, digital media and programming using HTML, CSS, JS and Firebase</a> with Code Avengers</li>
  </ul>

  <h2>Workshop details</h2>

  <div class="panel radius clearfix" id="uc">
    <div class="text-center">
      <img src="./img/canterbury-logo.png" class="logo text-center" style="max-height:6em;"></img>
      <h3>Just for Starters: Scratch and Python</h3>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <h4>Workshop description</h4>
        <p>For those with absolutely no experience, programming concepts are taught gently using Scratch and Python at the same time. Intended for those with no programming experience, this session will mainly orient you around what is available, and give information on how to get up to speed in programming.</p>

        <h4>Technical overview</h4>
        <p>This workshop will introduce basic programming concepts in both Scratch and Python.</p>
      </div>
      <div class="small-12 medium-6 columns">
        <h4>Prerequisite knowledge</h4>
        <ul>
          <li>No technical experience required</li>
          <li>A keen attitude</li>
        </ul>

        <h4>New knowledge</h4>
        <ul>
          <li>For both Scratch and Python:
            <ul>
              <li>Input</li>
              <li>Output</li>
              <li>Variables</li>
              <li>Sequence</li>
              <li>Selection</li>
              <li>Repetition</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel radius clearfix" id="code-avengers-1">
    <div class="text-center">
      <img src="./img/code-avengers-logo.png" class="logo text-center" style="max-width:18em;"></img>
      <h3>Intermediate Python with Code Avengers: NCEA Level 1 and 2</h3>
      <h5>AS91076 and AS91373 | Develop a basic/advanced computer program for a specified task</h5>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <h4>Workshop description</h4>
        <p>This workshop will look briefly at the basics of level 1 Python before building on that with the skills and concepts needed for level 2.  We will look at the key concepts of functions and indexed data structures using the Code Avengers platform as a resource.</p>

        <p>This workshop will be most suitable for those who are reasonably comfortable with level 1 programming in a text-based language such as Python or JavaScript.</p>

        <h4>Technical overview</h4>
        <p>The workshop will review variables, if statements and loops in Python 3 first, and then look at lists, functions and dictionaries for level 2.  We’ll create a program that aligns with the level 2 achievement standard.  We’ll also look at commenting code and testing with expected, boundary and invalid values.</p>
      </div>
      <div class="small-12 medium-6 columns">
        <h4>Prerequisite knowledge</h4>
        <ul>
          <li>Level 1 Python:
            <ul>
              <li>Print statements</li>
              <li>Variables</li>
              <li>Inputs</li>
              <li>Conditionals</li>
              <li>Loops) OR</li>
            </ul>
          </li>
          <li>Level 1 programming in another language:
            <ul>
              <li>Input</li>
              <li>Output</li>
              <li>Variables</li>
              <li>Conditionals</li>
              <li>Loops</li>
              <li>A keen attitude</li>
            </ul>
          </li>
        </ul>

        <h4>New knowledge</h4>
        <ul>
          <li>Lists (arrays)</li>
          <li>Dictionaries</li>
          <li>Functions</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel radius clearfix" id="gather-workshops">
    <div class="text-center">
      <img src="./img/gather-workshops-logo.png" class="logo text-center" style="max-width:12em;"></img>
      <h3>Level 3 Programming: Desktop apps with Python</h3>
      <h5>AS91637 | Develop a complex computer program for a specified task</h5>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <h4>Workshop description</h4>
        <p>Create a desktop app for managing event check-ins, with support for both pre-bought tickets and door sales. This app provides a list of attendees, their ticket type and their status. View live stats on total income, the people already checked in to your event, and the number of people who haven’t yet arrived.</p>

        <p>This workshop is suitable for teachers who have confidently delivered programming with Python at level 2 or above.</p>

        <h4>Technical overview</h4>
        <p>Create a complex program which has a graphical interface. It should take user input and do some processing to create a visual output. The program needs to be coded clearly and thoughtfully. It must demonstrate event handling, the use of an indexed data structure, the use of a class to store data and functionality, and programming control structures including loops and conditional statements. The code must be well-documented using code comments and should be tested for all input cases including expected, boundary and invalid cases.</p>

        <p>The workshop will use Python3 and the interface will be built with Kivy, an alternative to TkInter which allows for separation of design and functionality into individual files.</p>
      </div>
      <div class="small-12 medium-6 columns">
        <h4>Prerequisite knowledge</h4>
        <ul>
          <li>Command line input and output</li>
          <li>Loops (both object-based and index-based)</li>
          <li>Conditionals</li>
          <li>Variables</li>
          <li>Constants</li>
          <li>Arrays / Lists</li>
          <li>Functions (with parameters)</li>
        </ul>

        <h4>New knowledge</h4>
        <ul>
          <li>Graphical interfaces</li>
          <li>Event handling</li>
          <li>Classes</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel radius clearfix" id="ara">
    <div class="text-center">
      <img src="./img/ara-logo.png" class="logo text-center" style="max-height:8em;"></img>
      <h3>Databases for NCEA</h3>
      <h5>AS91633 | Implement complex procedures to develop a relational database embedded in a specified digital outcome</h5>
    </div>

    <div class="row">
      <h4>Workshop description</h4>
      <div class="small-12 medium-6 columns">
        <p>This workshop will cover important parts of achievement standard 2.41 (AS91368): "designing and constructing a database" with a well-organised table structure, relational database design, "using tools of the software to integrate data from a database...", and cover 3.41 (AS91633) topics: "creating queries which combine data from multiple tables" (joins in SQL), and "creating queries which insert, update or delete to modify data" (CRUD). In addition to these we will write assessment, we will share number of database examples, ideas and we will build database solutions for some of them and will also share resources available to help teach databases to High School students.</p>
      </div>
      <div class="small-12 medium-6 columns">
        <p>Moreover, we will try to integrate Achievement Standard Digital Technologies 91635: Implement complex procedures to produce a specified digital media outcome by exploring possibilities on “Create an Interactive Website for a Company”.</p>
        <p>This will be a hands-on workshop which will cover fundamentals of database design and how to build and maintain databases. Attendees after attending the workshop will be confident to work with all levels of database classes at school and will further be able to explore how database topics can be integrated and offered with other related topics.</p>
        <p>This workshop is run by Amit Sarkar from Ara Institute of Canterbury.</p>
      </div>
    </div>
  </div>

  <div class="panel radius clearfix" id="code-avengers-2">
    <div class="text-center">
      <img src="./img/code-avengers-logo.png" class="logo text-center" style="max-width:18em;"></img>
      <h3>Digital information, digital media and programming using HTML, CSS, JS and Firebase</h3>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <h4>Workshop description</h4>
        <p>Learn the skills to develop an outcome that can cover 3 achievement standards at both level 2 and 3.  Day 1 will focus on developing an app suitable for level 2 using HTML, CSS, JS and a online realtime database tool called Firebase (from Google).  Day 2 will focus on doing the same but for level 3.</p>

        <h4>Technical overview</h4>
        <p>Learn to set up a Firebase account and database for an app.  Build an HTML/CSS page and use JS to retrieve and push data to the database to create a dynamic web app.</p>
      </div>
      <div class="small-12 medium-6 columns">
        <h4>Prerequisite knowledge</h4>
        <ul>
          <li>Level 1 HTML and CSS</li>
          <li>Level 1 Programming experience in some language would be an advantage</li>
          <li>Basic familiarity with one or more of the achievement standards would be an advantage</li>
        </ul>

        <h4>New knowledge</h4>
        <ul>
          <li>Setting up a Firebase account</li>
          <li>Connecting to a Firebase Database</li>
          <li>Retrieving data from a database using Firebase API</li>
          <li>Using queries to sort and filter data</li>
          <li>Submitting data to a database</li>
          <li>Authentication using Firebase</li>
          <li>Functions in JavaScript</li>
          <li>Basic jQuery</li>
          <li>JSON notation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
