{% extends 'layout.html' %}

{% block title %}Teaching Workshops{% endblock %}

{% block content %}
<div class="small-12 columns workshops">
  <h1>Teaching Workshops</h1>

  <p>These workshops focus on how to teach and assess programming for NCEA standards, and occur on the Wednesday afternoon during the conference. If you struggle to find a workshop that suits you best, get in <a href="mailto:csse-teacher-events@canterbury.ac.nz">contact with us</a>.</p>

  <h2>Workshops available</h2>
  <p>Click a link to see the full details about the workshop:</p>
  <ul>
    <li><a href="#uc">Helping students understand programming</a> with University of Canterbury</li>
    <li><a href="#gather-workshops">Using GitHub as a platform for students' programming portfolios</a> with Gather Workshops</li>
    <li><a href="#code-avengers-1">Using Code Avengers courses for the level 1 CS external</a> with Code Avengers</li>
    <li><a href="#code-avengers-2">Making the most of Code Avengers 'lesson plans' and 'teacher presentation mode'</a> with Code Avengers</li>
  </ul>

  <h2>Workshop details</h2>

  <div class="panel radius clearfix" id="uc">
    <div class="text-center">
      <img src="./img/canterbury-logo.png" class="logo text-center" style="max-height:6em;"></img>
      <h3>Helping students understand programming</h3>
    </div>

    <h4>Workshop description</h4>
    <p>When students take on programming for the first time, a wide range of ideas and misconceptions arise. This course will look at key ideas that are important to get right, and also different approachs to teaching introductory concepts.</p>
  </div>

  <div class="panel radius clearfix" id="gather-workshops">
    <div class="text-center">
      <img src="./img/gather-workshops-logo.png" class="logo text-center" style="max-width:12em;"></img>
      <h3>Using GitHub as a platform for students' programming portfolios</h3>
    </div>

    <h4>Workshop description</h4>
    <p>Description to be confirmed.</p>
  </div>

  <div class="panel radius clearfix" id="code-avengers-1">
    <div class="text-center">
      <img src="./img/code-avengers-logo.png" class="logo text-center" style="max-width:18em;"></img>
      <h3>Using Code Avengers courses for the level 1 CS external</h3>
    </div>

    <h4>Workshop description</h4>
    <p>In this workshop, we'll introduce you to our new Code Avengers CS courses. Understand algorithms and think computationally in a robot managed restaurant, explore programming languages and how computers are able to understand them, and gain a deeper understanding of human computer interaction! We'll also look at some material from level 2.</p>
    <p>This workshop is run by Heidi Newton from Code Avengers.</p>
  </div>

  <div class="panel radius clearfix" id="code-avengers-2">
    <div class="text-center">
      <img src="./img/code-avengers-logo.png" class="logo text-center" style="max-width:18em;"></img>
      <h3>Making the most of Code Avengers 'lesson plans' and 'teacher presentation mode'</h3>
    </div>

    <h4>Workshop description</h4>
    <p>Description to be confirmed.</p>
  </div>

</div>
{% endblock content %}
