{% extends 'layout.html' %}

{% block title %}Computer Science Workshops{% endblock %}

{% block content %}
<div class="small-12 columns workshops">
  <h1>Computer Science Workshops</h1>

  <p>These workshops occur on the Wednesday, Thursday, and Friday during the main event. If you struggle to find a workshop that suits you best, please <a href="mailto:csse-teacher-events@canterbury.ac.nz">contact us</a>.</p>

  <h2>Workshops available</h2>
  <p>Click a link to see the full details about the workshop:</p>
  <ul>
    <li><a href="#cs-1-2">Introduction to 1.44 &amp; 2.44</a></li>
    <li><a href="#cs-hands-on-practice">Hands on practice with 1.44, 2.44, or 3.44</a></li>
  </ul>

  <h2>Workshop details</h2>

  <div class="panel radius clearfix" id="cs-1-2">
    <div class="text-center">
      <img src="./img/uc-computer-science-education-logo.png" class="logo text-center" style="max-height:5em;"></img>
      <h3>Introduction to 1.44 &amp; 2.44</h3>
      <h5>AS91074 and AS91371</h5>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <h4>Workshop description</h4>
        <p>This workshop is aimed for educators planning on teaching Computer Science at NCEA level 1 &amp; 2. This workshop starts with an introduction to the topic then splits into two groups.</p>

        <p>For those who have never used the level 1 Computer Science standard before (1.44/AS91074) Caitlin will go over the purpose of this standard, investigate the topic, show some examples of how to get students engaged with the ideas in it, and cover the teacher assessment guides. Recommended for first timers.</p>
      </div>
      <div class="small-12 medium-6 columns">
        <p>For those who have had an introduction to Computer Science and wish to cover level 1 and 2 (1.44/AS91074 and 2.44/AS91371) at a faster pace over the three days. Tim will cover the content, provide steps on how to teach concepts, and introduce the assessment guides.</p>

        <p>This workshop is recommended for those who have never taught Computer Science before to those who want a refresher on levels 1 &amp; 2.</p>

        <h4>Workshop leaders</h4>
        <p>Led by Tim Bell and Cailtin Duncan</p>
      </div>
    </div>
  </div>

  <div class="panel radius clearfix" id="cs-hands-on-practice">
    <div class="text-center">
      <img src="./img/uc-computer-science-education-logo.png" class="logo text-center" style="max-height:5em;"></img>
      <h3>Hands on practice with 1.44, 2.44, or 3.44</h3>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <h4>Workshop description</h4>
        <p>
          Already know a bit about 1.44, 2.44, or 3.44 and want to jump in with some hands on practice?
        </p>
        <p>
          This workshop will allow you to pick one of the 3 CS external standards (1.44, 2.44, or 3.44), and work in a group to carry out relevant activities, and then write a report on it. Most of the workshop will consist of working in groups with tutor help, although there will be a general presentation on writing good reports, avoiding plagarism, and optional presentations on teaching 3.44.
        </p>
      </div>
      <div class="small-12 medium-6 columns">
        <h4>Prerequisite knowledge</h4>
        <p>
          <ul>
            <li>
              To focus on 1.44, you will need to be familiar with the 1.44 content.
            </li>
            <li>
              To focus on 2.44, you will need to be familiar with the 2.44 content.
            </li>
            <li>
              To focus on 3.44, you will need to have confidently taught 1.44 or 2.44 or 3.44, no prior 3.44 experience is required.
            </li>
          </ul>
        </p>


        <h4>Workshop leader</h4>
        <p>Led by Heidi Newton</p>
    </div>
  </div>
</div>
{% endblock content %}
